* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #F5F5F5;
}
.navbar {
    background: #0050B3;;
    padding: 8px 0;
    margin-bottom: 16px;
}
.nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    max-width: 336px;
    padding: 5px 12px 5px 12px;
    display: flex;
    align-items: center;
}
.search-input {
    font-size: 14px;
    min-width: 295px;
    line-height: 22px;
    color: #BFBFBF;
    border: none;
}
.search-icon {
    width: 20px;
    height: 20px;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: right center ;
}
.navigation {
    display: flex;
    justify-content: space-around;
}
.user {
    display: flex;
    align-items: center;
}
.user-avatar {
    margin-right: 9px;
}
.user-name {
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
    color: #FFFFFF;
}
.nav-panel {
    display: flex;
    align-items: center;
}
.nav-panel-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 12px;
}
.nav-panel-link:before {
    content: "";
    width: 1px;
    height: 16px;
    background: #003A8C;
    margin-right: 12px;
}
.nav-panel-link:last-child:after {
    content: "";
    width: 1px;
    height: 16px;
    background: #003A8C;
    margin-left: 12px;
}
.icons-panel {
    display: flex;
    align-items: center;
}
.nav-icon {
    fill: #002766;
}
.nav-icon:hover {
    fill: #ffffff;
}
.icon-link:not(:last-child) {
    margin-left: 12px;
}
.line {
    width: 1px;
    height: 16px;
    background: #003A8C;
    margin-left: 12px;
}
.container {
    width: 1206px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: auto;
}
.menu-sidebar {
    width: 192px;
    margin-right: 18px;
}
.menu-sidebar .user-avatar {
    width: 22px;
    height: 22px;
    margin-left: 10px;
}
.menu-sidebar .user-name {
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
    color: #262626;
    margin-left: 8px;
}
.nav-group {
    margin-top: 12px;
    margin-bottom: 24px;
}
.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 4px;
}
.nav-link.active {
    color: #262626;
    background: #FFFFFF;
}
.nav-link:hover {
    background: #FFFFFF;
}
.nav-text {
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin-left: 8px;
}
.nav-link.active .nav-text {
    color: #262626;
}
.nav-group-title {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #262626;
    margin-left: 10px;
}
.down-icon {
    fill: #BFBFBF;
}
.nav-text-more {
    font-size: 14px;
    line-height: 22px;
    color: #1890FF;
    margin-left: 12px;
}
.main-feed {
    width: 588px;
}
.right-sidebar {
    width: 384px;
}
.create-post {
    width: 600px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.post-header {
    padding: 9px 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    background: #F5F5F5;
    border-bottom: 1px solid #D9D9D9;
}
.post-input {
    width: 100%;
    padding: 24px 0 32px 60px;
    background-image: url(../img/avatar.svg);
    background-repeat: no-repeat;
    background-position: left 16px center;
}
.post-input::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #8C8C8C;
}
.post-footer {
    display: flex;
    align-items: center;
    padding: 16px;
    border-top: 1px solid #E8E8E8;
}
.post-button {
    display: flex;
    align-items: center;
    background: #F5F5F5;
    border-radius: 48px;
    padding: 9px 12px;
    margin-right: 8px;
}
.post-button-icon {
    margin-right: 8px;
}
.post-button-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}
